:root {
  --bg-color: #fff;
  --text-color: #333;
  --container-lesson-color:  #FFD54F;
  --container-lesson-theme-color: #81C784 ;
  --container-content-text-color: #81D4FA ;
  --content-progress: #E0E0E0;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 42px;
  margin: 20px 60px;
  padding: 0;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}


.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: auto;
  max-width: 960px;
  padding: 5px 20px;
  border: 6px solid var(--text-color) ;
  border-radius: 60px;
  font-size: 32px;
}

.container svg {
  margin-right: 20px;
}

.container-theme {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 6px;
}

.theme {
  margin-left: 200px;
  border-radius: 60px 0 0 60px;
}

.progress-lesson {
  border-radius: 0;
}

.theme-next {
  justify-content: center;
  border-radius: 0 60px 60px 0;
}

.container-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 60px;
}

.container-content-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--container-content-text-color);
  width: 50%;
  padding: 20px 60px;
  border-radius: 60px 60px 60px 0;
  font-size: 32px;
}

.container-content-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.container-content-image img {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}
